<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <title>XML for {{ db_name }}</title>
</head>
<body>
    <h1>V PIZDU TEBYA!</h1>
    <h1>Current danabase: {{ db_name }}</h1>
    <p>{{ ti }}</p>
    

    <table style="width:100%">
        <thead>
        <tr>
          <th>Table</th>
          <th>Count</th>
          <th>Parse time</th>
          <th>Link</th>
        </tr>
        </thead>

        {% for i in range(ti[0].__len__()) %}
        <tr>
            <td>{{ ti[0][i] }}</td>
            <td>{{ ti[1][i] }}</td>
            <td>{{ ti[2][i] }}</td>
            <td><a href = {{ ti[3][i] }} >Feed</a></td>
        </tr>
        {% endfor %}

      </table> 
</body>
</html>